.Social{
    Font-family: PT Sans Caption;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-weight: Regular;
    Line-height: 18px;
    Line-height: 100%
}
.Social span:nth-child(2){
    margin-right: 20px;
}