.Data{
    height: 440px;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
}

.Data p:nth-child(1){
    
    margin: 0;
    font-size: 48px;
    font-weight: bold;
    Line-height: 31px;
    Line-height: 100%
}
.Data p:nth-child(2){

    font-size: 36px;
    font-weight: Regular;
    Line-height: 47px;
    Line-height: 100%
}
.Data p:nth-child(3){
    Font-family: PT Sans Caption;
    font-size: 24px;
    text-align: center;
    font-weight: Regular;
    margin-bottom: 0;
    Line-height: 31 px;
    Line-height: 100%
}