
html,body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'PT Sans Caption', sans-serif;
}
body{
  background-color:#274627;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
